* {
  padding: 0;
  margin: 0;
}
body {
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black !important;
}

h1 {
  width: 100%;
  text-align: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(180, 102, 0);
  font-size: 4rem !important;
}

h2 {
  width: 100%;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(180, 102, 0);
  margin-top: 1rem !important;
}

.wrap-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 6vh;
}

@media (width >= 800px) {
  .wrap-cards {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card-img-top {
  width: auto;
  height: 15rem;
}

.hidden {
  display: none !important;
}

.btn-primary {
  background-color: rgb(180, 102, 0) !important;
  border-color: rgb(221, 125, 0) !important;
  border-radius: 2rem !important;
  color: rgb(255, 233, 204) !important;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn-outline-primary {
  background-color: rgb(180, 102, 0) !important;
  border-color: rgb(221, 125, 0) !important;
  color: rgb(255, 233, 204) !important;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
