* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  background-color: black;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: hidden;
}
.wrap-everything {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.wrap-img {
  opacity: 0.8;
  animation: fromTop 2s ease-out;
}

@keyframes fromTop {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

.img-style {
  width: 30vw;
  height: auto;
  border-radius: 100%;
}
.wrap-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25vw;
}
p {
  font-size: 3rem;
  color: rgb(180, 102, 0);
  animation: show 2s ease-out;
  transition: all 200ms ease-out;
}

@keyframes show {
  0% {
    transform: translateY(-20vh);
    opacity: 0;
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@media (width >= 800px) {
  body {
    background-color: black;
  }

  p {
    font-size: 3rem;
    transition: all 400ms ease-out;
  }

  p:hover {
    cursor: pointer;
    color: rgb(255, 164, 45);
    font-size: 5rem;    
    transition: all 400ms ease-out;
  }
}
